body {
  font-weight: normal;
}

.info__container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/main2.png);
  background-size: cover;
  background-position: 50 10 10 10;
  box-sizing: border-box;
  color: rgb(68, 126, 77);
 
}
 
h1 {
  font-family: 'Caveat',cursive;
  font-size: 300%;
}
 
p {
  font-family: 'Caveat',cursive;
  font-size: 200%;
  font-weight: color #14f25d;
}
 
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
 
}

.row_one {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  gap: 20px;
}

.row_one > img{
   width: 400px;
}

.row_two, .row_three, .row_four {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  gap: 20px;
}

.row_two img,
.row_three img,
.row_four >img{
   width: 400px;
}

.row_four{
   margin-bottom: 50px;
}