a {
  color: #544837;
}

body {
  font-family: "Poppins";
  font-weight: 500;
  color: #544837;
}

h1, h2, h3 {
  color: #2F281E;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  overflow-x: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
  width: 100%;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 600px) {
  [class*=__container] {
    padding: 0 10px 0 10px;
  }
}

[class*=page] {
  min-height: 100vh;
}
@media (max-width: 768px) {
  [class*=page] {
    min-height: 100vh;
  }
}
@media (max-height: 600px) {
  [class*=page] {
    min-height: 100vh;
  }
}