/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');


/* font-family: 'Protest Riot', sans-serif;
font-family: 'Roboto', sans-serif; */
/* font-family: 'Caveat',cursive; */
/* ============================================================================= */
.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	overflow-x: hidden;
}

.wrapper>main {
	flex: 1 1 auto;
	width: 100%;
}

.wrapper>* {
	min-width: 0;
}

[class*=__container] {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 20px;
}

@media (max-width: 600px) {
	[class*=__container] {
		padding: 0 10px 0 10px;
	}
}

[class*=page] {
	min-height: 100vh;
}
/* ============================================================================= */

/* stylize common links */
a {
  color: #033013;
  transition: color 0.3s ease-out;
	position: relative;
}
a::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	height: 1px;
	background-color: #14f25d;
	transition: all 0.3s ease-out;
}

a:hover{
 color: #14f25d;
}
a:hover::after{
	width: 100%;
	left: 0;
}
a.active{
	color: #00000045;
	pointer-events: none;
}

body {
  font-family: "Roboto";
  font-weight: 500;
  color: #000000;
}

h1, h2, h3 {
font-family: 'Protest Riot';
}
h1{
	font-size: 120px;
}
/* ============================================================================= */
/* stylize menu links */
.header{
	width: 100%;
	padding: 10px 20px;
}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo:hover ::after{
	width: 0;
}
.menu li {
	position: relative;
} 
.menu__list {
	min-width: 150px;
}
.menu__list:hover .menu__link{
	color: #033013;
}
.menu__list:hover .menu__link::after{
	background-color: #033013;
}
.menu__list:hover .sub-menu__list{
	display: block;
}
.menu__link {
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Protest Riot';
}
.sub-menu__list {
	display: none;
	position: absolute;
	left: 0;
	top: 15px;
	padding-top: 10px;
	min-width: 180px;
}
.sub-menu__list>li{
	background-color: #f1f7f3;
	padding: 5px 25px 10px 5px;
}
.sub-menu__link {
	font-size: 18px;
}
/* ============================================================================= */
/* footer */
.icons{
	margin-right: 5px;
}
.icons:hover{
	color: #14f25d;
	transition: color 0.3s ease-out;
}
.terms{
	color: #0330138f;
}
.footer {
	width: 100%;
	padding: 20px 0;
	background-color: #011c0a25;
}
.footer__container {
	display: flex;
	column-gap: 50px;
	justify-content: space-around;
}
.img-box {
	margin-bottom: 25px;
}
.footer-menu__list>li {
	margin-bottom: 15px;
}
.footer__tel {
	margin-bottom: 25px;
}
.footer__email {
	margin-bottom: 25px;
}